

$main-pink: #fac6d8;
$main-aqua: #5beddf;
$text-green: #54bcaf;

$main-pink-shadow: #ff4187;
$main-aqua-shadow: #00ffeb;

$main-font: "Lovelo Black";
$main-font-line: "Lovelo Line Light";
$main-font-line-bold: "Lovelo Line Bold";