@use "../../assets/mixins";
@use "../../assets/variables";

.container {
  width: 300px;

  .link {
    @include mixins.linkButton;
    display: flex;
    justify-content: center;
    margin: 10px;
    
    input {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      @include mixins.loginLabels;
    }

    input {
      @include mixins.input;
      @include mixins.logoPawsitive;
    }
  }
}
