@use "../../assets/mixins";
@use "../../assets/variables";

.container {
  position: relative;
  margin-top: -65px;
  width: 100%;
  text-align: center;

  .firstBlock {
    height: 50px;

    .first {
      @include mixins.logoPawsitive;
      font-size: 55px;
      animation: pawPulse 3s linear infinite;
    }
    .second {
      @include mixins.logoPawsitive;
      font-size: 35px;
      letter-spacing: -1px;
      animation: sitivePulse 2.5s linear;
    }
  }
  .third {
    @include mixins.logoTouch;
    animation: touchPulse 2s linear infinite;
  }
}

@keyframes pawPulse {
  0%,
  10%,
  14%,
  100% {
    opacity: 0%;
  }
  12%,
  15%,
  98% {
    opacity: 100%;
  }
}

@keyframes sitivePulse {
  0%,
  10%,
  18%,
  26% {
    opacity: 0%;
  }
  14%,
  22%,
  100% {
    opacity: 100%;
  }
}

@keyframes touchPulse {
  0%,
  10%,
  20%,
  100% {
    opacity: 0%;
  }
  15%,
  25%,
  95% {
    opacity: 100%;
  }
}